{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="py-4"></div>

<table class="table table-head">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Pretenção Salarial</th>
            <th>Última Escolaridade</th>
        </tr>
    </thead>
    <tbody>
        {% for candidato in candidatos %}
        <tr>
            <td>{{ candidato.nome }}</td>
            <td>{{ candidato.pretensao_salarial }}</td>
            <td>{{ candidato.escolaridade }}</td>
 
        </tr>
        {% endfor %}
    </tbody>

</table>


</div>
{% endblock content %}
