{% extends 'base.html' %}
{% block content %}
<ul>
{% for vaga in lista_de_vagas %}
<table class="table">
    <thead>
    <th>
        <td>Empresa</td>
        <td>Nome da vaga</td>
        <td>Faixa Salarial</td>
        {% if user.is_staff %}
            <td>Editar</td>
            <td>Excluir</td>
        {% endif %}
    </th>
    </thead>
    <tbody>
        <tr>
            <td>{{ vaga.empresa }}</td>
            <td>{{ vaga.nome_da_vaga }}</td>
            <td>{{ vaga.faixa_salarial }}</td>
            <td>{{ vaga.faixa_salarial }}</td>
            {% if user.is_staff %}
            <td><a href="{{vaga.id}}" class="btn btn-warning">Editar </a></td>
            <td><a href="{{vaga.id}}" class="btn btn-danger">Excluir </a></td>
        {% endif %}
        </tr>
    </tbody>
    {% if not user.is_staff %}
       <a href="{{vaga.id}}" class="btn btn-info">Quero me candidatar a essa vaga </a>
    {% endif %}
    <hr />

{% endfor %}
</table>

{% endblock content %}